<div class="side-bar">
  <div class="side-bar__top">
    <ul class="">
      <li><a class="side-bar__lists__link" href="#">btn</a></li>
      <li><a class="side-bar__lists__link" href="#">btn</a></li>
      <li><a class="side-bar__lists__link" href="#">btn</a></li>
      <li><a class="side-bar__lists__link" href="#">btn</a></li>
      <li><a class="side-bar__lists__link" href="#">btn</a></li>
      <li><a class="side-bar__lists__link" href="#">btn</a></li>
    </ul>
  </div>
  <div class="side-bar__mid">
    <li><a class="side-bar__lists__link" href="#">btn</a></li>
    <li><a class="side-bar__lists__link" href="#">btn</a></li>
    <li><a class="side-bar__lists__link" href="#">btn</a></li>
    <li><a class="side-bar__lists__link" href="#">btn</a></li>
  </div>
  <div class="side-bar__bottom">
    <li><a class="side-bar__lists__link" href="#">btn</a></li>
    <li><a class="side-bar__lists__link" href="#">btn</a></li>
    <li><a class="side-bar__lists__link" href="#">btn</a></li>
    <li><a class="side-bar__lists__link" href="#">btn</a></li>
  </div>
</div>
