.circle{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid green;
  position: relative;
  &--success{
    background: $color-success;
    border-color: $color-success-ol;
  }
  &--danger{
    background: $color-danger;
    border-color: $color-danger-ol;
  }
  &--primary{
    background: $color-primary;
    border-color: $color-primary-ol;
  }
  &--secondary{
    background: $color-secondary;
    border-color: $color-secondary-ol;
  }
  .svg-icon{
    height: 40px;
    width: 40px;
    fill: black;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    position: absolute;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
  }

}
