.svg-icon{
  height: 24px;
  width: 24px;
  fill: salmon;
}
@mixin arrow($color: #000, $rotate: -45deg) {
  content: "";
  position: absolute;
  right: 20px;
  border: solid $color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  top: 50%;
  padding: 3px;
  -webkit-transform: rotate($rotate);
          transform: rotate($rotate);
}

@mixin circle($height: 80px, $width: 80px){
  height: $height;
  width: $width;
  border-radius: 50%;
  position: relative;
}
.circle{

  &--border{
    border: 5px solid;
  }
  &--success{
    background: $color-success;
    border-color: $color-success-ol;
  }
  &--danger{
    background: $color-danger;
    border-color: $color-danger-ol;
  }
  &--primary{
    background: $color-primary;
    border-color: $color-primary-ol;
  }
  &--secondary{
    background: $color-secondary;
    border-color: $color-secondary-ol;
  }
  .svg-icon{
    height: 40px;
    width: 40px;
    fill: black;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
