.section-container{
  margin-top: $nav-height + 20;
  margin-left: $nav-left-width +15;
}
.boxes{
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  &__title{

  }
  &--right{
    text-align: right;
  }
  &__image{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &--flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &__user-info{
    margin-left: 20px;
  }
}
.user-role{
  &--master{
    color: $color-master;
  }
  &--user{
    color: $color-user;
  }
  &--admin{
    color: $color-admin;
  }
}
