.v-align{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: horizontal;
          -ms-flex-direction: column;
              flex-direction: column;
}
.bg-color{
  background-color: $bg-color;  
}
.perfect-center{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}