<div class="container-fluid profile-container">
    <div class="row">
        <div class="col-lg-4">
            <div class="boxes">
                <div class="top">
                    <div class="circle">

                    </div>
                    <h5>Paulaz ZLyden</h5>
                    <p>@fullstacker</p>
                    <div class="top__buttons">
                        <ul class="top__buttons__lists">
                            <li class="top__buttons__lists__list top__buttons__lists__list--follow">
                                <a href="#">
                                    <span>Follow me</span>
                                </a>
                            </li>
                            <li class="top__buttons__lists__list top__buttons__lists__list--message">
                                <a href="#">
                                    <span>Message ?</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom__info">
                        <p>Full Name:</p>
                        <p>Paulaz ZLyden</p>
                    </div>
                    <div class="bottom__info">
                        <p>Mobile:</p>
                        <p>+37066666666</p>
                    </div>
                    <div class="bottom__info">
                        <p>Email:</p>
                        <p>nomore@mails.tr</p>
                    </div>
                    <div class="bottom__info">
                        <p>Location:</p>
                        <p>Transylvania</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="boxes">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="boxes">

            </div>
        </div>
    </div>
</div>