.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  line-height: $nav-height;
  .nav-bar {
    position: relative;
    height: $nav-height;
    background: $default-bg;
    &--left {
      float: left;
      text-align: center;
      width: $nav-left-width;
    }
    &--right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
        -ms-flex-pack: justify;
          justify-content: space-between;
    }
    &__lists {

      &--left {
        display: flex;
      }
      &--right {
        float: right;
        display: flex;
      }
      &__link {
        margin-right: 20px;
      }
    }
  }
}
.svg-icon{
  width: 20px;
  height: 20px;
  fill: salmon;

}
